body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0c6106;
}
a {
    color: #1fd013;
}
a:hover {
    color: #15910c;
}
.main-container {
    padding: 1rem;
    margin: 2rem auto;
}

footer {
    background-color: #222;
    color: white;

}

footer .col {
    padding: 1.5rem
}